<div class="row slide-animation">
  <h3 class="center">Adicionar Grupo</h3>
  <form class="col offset-s2 s8" name="addForm">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="title" ng-model="groupsCtrl.group.title" class="validate">
        <label for="title">Título</label>
      </div>
      <div class="input-field col s12">
        <textarea id="description" class="materialize-textarea validate" ng-model="groupsCtrl.group.description"></textarea>
        <label for="description">Descrição</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col-s12">
        <a href="#" class="waves-effect waves-light btn btn-floating right" ng-click="groupsCtrl.save()">
          <i class="material-icons">save</i></a>
      </div>
    </div>
  </form>
</div>
