<div>
  <div class="row">
      <ul class="tabs">
        <li class="tab col s6">
          <a href="#list" style="border-bottom: 1px solid #ee6e73">Registros</a>
        </li>
        <li class="tab col s6 disabled">
          <a href="#statistics">Estatísticas (Em Breve)</a>
        </li>
      </ul>
  </div>

  <div class="row slide-animation" id="list">
    <div class="row">
      <div class="col offset-s4 s4">
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <a href="javascript:void(0)" style="color: black; text-decoration: none;" ng-click="debtsCtrl.getPreviousPeriod()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
          <h5>Periodo: {{debtsCtrl.period.getName()}}</h5>
          <a href="javascript:void(0)" style="color: black; text-decoration: none;" ng-click="debtsCtrl.getNextPeriod()"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="row" style="display: flex; align-items: center;">
      <div class="col s3">
        <div class="switch">
          <label>
            Apenas não pagos
            <input type="checkbox" ng-model="debtsCtrl.showPendingOnly" ng-change="debtsCtrl.filterDebtList()">
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="col s3">
        <div class="switch">
          <label>
            Parcelados
            <input type="checkbox" ng-model="debtsCtrl.showInstallments" ng-change="debtsCtrl.filterDebtList()">
            <span class="lever"></span>
          </label>
        </div>
      </div>
      <div class="col s6 input-field">
          <input type="text" id="search" ng-model="debtsCtrl.search" ng-change="debtsCtrl.filterDebtList()">
          <label for="search">Buscar por...</label>
      </div>
    </div>

    <div class="col s12 m12 l12 center">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Título</th>
            <th>Valor</th>
            <th>Vencimento</th>
            <th>Categoria</th>
            <!--th class="hide-on-small-only">Descrição</th-->
            <th class="hide-on-small-only">Gasto Fixo</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-repeat="debt in debtsCtrl.filteredDebts"
            ng-click="debtsCtrl.showDetails(debt)"
            ng-class="debtsCtrl.isExpired(debt) ? 'red-text' : ''">
            <td ng-click="$event.stopPropagation();debtsCtrl.setPaid(debt)">
              <input type="checkbox" ng-model="debt.paid">
              <label>{{debt.paid ? 'Pago' : 'Pendente'}}</label>
            </td>
            <td>{{debt.title}} <span ng-show="debt.isInstallment">({{debt.currentInstallment}} de {{debt.totalInstallments}})</span> </td>
            <td>{{debt.amount | currency:"R$"}}</td>
            <td>{{debt.expirationDate | date}}</td>
            <td>{{debt.category}}</td>
            <!-- td class="hide-on-small-only">{{debt.description}}</td-->
            <td class="hide-on-small-only">{{debt.recurrent ? 'Sim' : 'Não'}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7" style="font-weight:bold;">
              <div class="right">
                <span price>Total: {{debtsCtrl.getTotal() | currencybr}}</span> |
                <span class="green-text">Pago: {{debtsCtrl.getTotalPaid() | currencybr}}</span> |
                <span class="orange-text">Restante: {{debtsCtrl.getTotalPending() | currencybr}}</span>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="row slide-animation" id="statistics">

  </div>
</div>
