<div class="row slide-animation">
  <h3 class="center">Login</h3>
  <form class="col offset-s4 s4" ng-submit="loginCtrl.login()">

    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="username" ng-model="loginCtrl.user.username" class="validate">
        <label for="username">Usuário</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="password" id="password" ng-model="loginCtrl.user.password" class="validate">
        <label for="password">Senha</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col-s12">
        <input type="submit" class="waves-effect waves-light btn right">
        <i class="material-icons">login</i></a>
      </div>
    </div>
  </form>
</div>
